ion-grid{
  text-align: center;
  position: relative;
  align-content: center;
  align-items: center;
  padding: 2px;
}

ion-card{
  width: fit-content;
  align-content: center;
  align-self: center;
}

img{
  align-content: center;
  width: auto;
}
