ion-toolbar{
  font-family: 'Merry_Italic';
}

ion-button{
  font-family: 'Merry_Italic';
}
ion-label{
  font-family: 'Meryy_Light';
  font-size: large;
}

ion-input {
  font-family: 'Meryy_Light';
  font-size: medium;
}
