<ion-accordion-group [multiple]="true" #accordion>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ng-container *ngIf="teams != null">
        <ion-avatar class="teams">
          <img
            *ngIf="!teams?.image"
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
          <img
            *ngIf="teams?.image"
            alt="Task picture"
            [src]="teams.image"
          />
        </ion-avatar>
        <ion-label>{{teams.name}}</ion-label>
      </ng-container>
      <ion-label *ngIf="!teams">{{'selectables.team' | translate}}</ion-label>
    </ion-item>

    <div class="ion-padding" slot="content">
      <ion-list>
        <ion-item
          *ngFor="let teams of getTeams()"
          button
          detail
          (click)="onTeamClicked(teams, accordion)"
        >
          <ion-avatar class="teams">
            <img
              *ngIf="!teams.image"
              alt="Silhouette of a person's head"
              src="https://ionicframework.com/docs/img/demos/avatar.svg"
            />
            <img
              *ngIf="teams.image"
              alt="Team Picture"
              [src]="teams.image"
            />
          </ion-avatar>
          <ion-label>{{teams.name}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-accordion>
</ion-accordion-group>
