<ion-header>
  <ion-toolbar color="medium">
    <ion-title>{{'DriversComponentF.title' |translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">{{'DriversComponentF.btn_Cerrar' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup] = "form" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">
        {{'DriversComponentF.nombre' |translate | uppercase}}
      </ion-label>
      <ion-input type="text" placeholder="Introduce tu nombre completo" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{'DriversComponentF.apodo' |translate | uppercase}}
      </ion-label>
      <ion-input type="text" placeholder="Introduce el apodo del piloto" formControlName="nickname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{'DriversComponentF.dorsal' |translate | uppercase}}
      </ion-label>
      <ion-input type="number" placeholder="Introduce un número de dorsal" formControlName="dorsal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{ 'DriversComponentF.foto' |translate | uppercase}}
      </ion-label>
      <ion-input type="routerLink" placeholder="Introduce la url de tu foto del drive" formControlName="image"></ion-input>
    </ion-item>
    <ion-button color="medium" (click)="onSubmit()"  [disabled]="!form.valid" type="submit">{{mode=="Edit"?"Modificar":"Añadir"}}</ion-button>
  </form>
</ion-content>