///// SCSS STYLES //////
ion-toolbar{
  font-family: 'Merry_Italic';
}

ion-button{
  font-family: 'Merry_Italic';
}
ion-label{
  font-family: 'Meryy_Light';
  padding: 5px;
  margin: auto;
  font-size: large;
}

ion-item{
  font-family: 'Meryy_Italic';
  font-size: medium;
}