<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Fichaje</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <app-selectable-driver formControlName="driverId"></app-selectable-driver>
    <app-selectable-team formControlName="teamId"></app-selectable-team>
    
    <ion-item>
      <ion-label position="floating">{{ 'ManageForm.contrato' | translate }}</ion-label>
      <ion-select placeholder="Escoge una  opcion" formControlName="duracionContrato">
        <ion-select-option value="1 Ano">{{ 'ManageForm.opcion1' | translate }}</ion-select-option>
        <ion-select-option value="2 Anos">{{ 'ManageForm.opcion2' |translate }}</ion-select-option>
        <ion-select-option value="3 Anos">{{ 'ManageForm.opcion3' | translate}}</ion-select-option>
        <ion-select-option value="4 Anos">{{ 'ManageForm.opcion4' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button color="medium" [disabled]="!form.valid" type="submit">{{mode=="Edit"?"Modify":"Add"}}</ion-button>
  </form>
</ion-content>