////// DISEÑOS PERSONALIZADOS /////
img{
  width: 100%;
}

.button_Tool{
  padding: 5px;
}

ion-content{
  background-color: black;
}

ion-card-title{
  font-style: italic;
  font-size: xx-large;
  text-align: center;
}


ion-card-content{
  padding: 20px;
}

ion-card{
  text-align: center;
  color: white;
  font-size: large;
  font-style: initial;
}
