<ion-content [fullscreen]="true" color="dark">
  <ion-header >
    <ion-toolbar color="dark">
      <ion-title size="large">F1 Fantasy</ion-title>
    </ion-toolbar>
  </ion-header>


    <ion-grid>
      <ion-row>
        <ion-col sizeXl="3" sizeMd="6" sizeSm="12">
          <ion-card color="dark">
            <ion-card-header>
              <ion-card-title>Drivers</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <img src="./../../../assets/images/"  alt="" />
            </ion-card-content>
            <ion-button color="medium" routerLink="/">View</ion-button>
          </ion-card>

        </ion-col>
        <ion-col sizeXl="3" sizeMd="6" sizeSm="12">
          <ion-card color="dark">
            <ion-card-header>
              <ion-card-title>Drivers Management</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <img  src="" alt="" />
            </ion-card-content>
            <ion-button color="medium" routerLink="/"> View </ion-button>
          </ion-card>
        </ion-col>
        <ion-col sizeXl="3" sizeMd="6" sizeSm="12">
          <ion-card color="dark">
            <ion-card-header>
              <ion-card-title>Teams</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <img src="" alt="" />
            </ion-card-content>
            <ion-button color="medium" routerLink="/"> View </ion-button>
          </ion-card>
        </ion-col>
        <ion-col sizeXl="3" sizeMd="6" sizeSm="12">
          <ion-card color="dark">
            <ion-card-header>
              <ion-card-title>About Me</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <img src="" alt="" />
            </ion-card-content>
            <ion-button color="medium" routerLink="/">View</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
