////// DISEÑOS PERSONALIZADOS /////
img{
  width: 100%;
  position: relative;
}
ion-grid{
  margin-top: 2%;
}

ion-card{
  margin-top:2% ;
}

.imagen:hover {filter: opacity(.5);}
ion-title{
  font-size: x-large;
  font-family: "Merry_Italic";
}
.button_Tool{
  padding: 5px;
  border-radius: 80%;
}


.contenedor:hover.imagen {-webkit-transform:scale(1.3);transform:scale(0.9);}
.contenedor {overflow:hidden;}

ion-content{
  background-color: black;
}

ion-card-title{
  font-style: italic;
  font-size: xx-large;
  font-family: "Merry_BoldItalic";
  text-align: center;
  background-color: rgb(124, 0, 0);
}




ion-card-content{
  padding: 20px;
}

ion-card{
  text-align: center;
  color: white;
  font-size: large;
  font-style: initial;
}
