<ion-content Color="dark">
  <ion-grid>
  <ion-card color="dark">
    <ion-card-header>
      <img alt="Mi profile" src="./../../../../assets/images/fotos/Alberto_profile.jpg" />
      <ion-card-title>{{'information.name' | translate}}</ion-card-title>
      <ion-card-subtitle>{{'information.subName' | translate}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-text >
        <h2>{{'information.Intro' | translate}}</h2>
      </ion-text>
      <ion-text>
        {{'information.texto1' | translate}}
      </ion-text>
    </ion-card-content>

    <ion-card-content>
      <ion-text >
        <h2>{{'information.Intro2' | translate}}</h2>
      </ion-text>
      <ion-text >
        {{'information.texto2' | translate}}
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-grid>
</ion-content>