<ion-content Color="dark">
  <ion-grid>


  <ion-card color="dark">
  
    <ion-card-header>
      <img alt="Mi profile" src="./../../../../assets/images/fotos/profile.jpg" />
      <ion-card-title>Alberto Parra Toval</ion-card-title>
      <ion-card-subtitle>Proyecto Ionic de la asignatura de ADD/HLC</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-text >
        <h2>Introducción</h2>
      </ion-text>
      <ion-text>
        A la hora de plantearme realizar la actividad de ionic que el profesor nos planteó, quise hacer una App que siempre he querido tener. Como fan de la F1 desde chiquitito pues me hubiese gustado que en una App pudieses editar los pilotos y ponerlos en diferentes equipos a los que están en la realidad.
      </ion-text>
    </ion-card-content>

    <ion-card-content>
      <ion-text >
        <h2>¿Cómo funciona esta App?</h2>
      </ion-text>
      <ion-text >
        Esta App funciona como un CRUD, donde nos encontraremos 3 páginas diferentes dos de ellas independientes entre sí (Drivers and Teams) y una que una ambas (Management).
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-grid>
</ion-content>