///// SCSS STYLES //////
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

ion-content{
  background-color: black;
}

ion-title{
  font-size: x-large;
  font-family: "Merry_Italic";
}
