///// SCSS STYLES //////
ion-button{
  padding: auto;
  margin: auto;
}

ion-grid{
  position: relative;
  align-items: center;
}

ion-title{
  font-size: x-large;
  font-family: "Merry_Italic";
}

ion-list{
  padding: 0;
}