///// SCSS STYLES //////
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

.button_Tool{
  padding: 5px;
}

ion-title{
  font-size: x-large;
  font-family: "Merry_Italic";
}

ion-content{
  font-family: "Merry_Light";
}