/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

h2{
  text-align: center;
  font-size: large;
  padding: 5px;
}
ion-title{
  font-size: x-large;
  font-family: "Merry_Italic";
}
ion-card-content{
  margin: 2%;
  padding: auto;
}

ion-grid{
  position: relative;
  font-family: "Merry_Normal";
  align-content: center;
}

img{
  padding: auto;
  position: relative;
  width: 100%;
}