<ion-header>
  <ion-toolbar  Color="dark">
    <ion-title slot="end">About Me</ion-title>
    <!--BOTON RETURN DE MOMENTO HASTA PODER HACER EL MENU-->
    <ion-back-button slot="start" defaultHref="/"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-grid>
    <ion-row >
      <ion-col size="12" size-lg="6" size-sm="11">
        <ion-card color="dark">
          <ion-card-header>
            <img alt="Mi profile" src="./../../../../assets/images/fotos/Alberto_profile.jpg" />
            <ion-card-title>{{'information.name' | translate}}</ion-card-title>
            <ion-card-subtitle>{{'information.subName' | translate}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="6" size-sm="11">
    <ion-card-content >
      <ion-text >
        <h2 [ngStyle]="{'background-color':'grey' }" >{{'information.Intro' | translate}}</h2>
      </ion-text>
      <ion-text>
        {{'information.texto1' | translate}}
      </ion-text>
    </ion-card-content>

    <ion-card-content>
      <ion-text >
        <h2 [ngStyle]="{'background-color':'grey' }" >{{'information.Intro2' | translate}}</h2>
      </ion-text>
      <ion-text >
        {{'information.texto2' | translate}}
      </ion-text>
    </ion-card-content>

    <ion-card-content>
      <ion-text >
        <h2 [ngStyle]="{'background-color':'grey' }" >{{'Mis redes sociales' | translate}}</h2>
      </ion-text>
      <ion-button><ion-icon name="logo-github"></ion-icon></ion-button>
      <ion-button><ion-icon name="logo-github"></ion-icon></ion-button>
      <ion-button><ion-icon name="mail-outline"></ion-icon ></ion-button>
    </ion-card-content>

      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
